{% extends 'layouts/admin.html' %}
{% block title %}Editar Tag{% endblock %}
{% block page_title %}Editar Tag{% endblock %}

{% block body %}
<form action="" method="post">
    <!-- Categoria -->
    <div class="field">
        <label for="" class="label">Tag</label>
        <div class="control">
            <input name="tag" class="input" type="text" placeholder="Titulo" value="{{ tag.name }}"> 
        </div>
    </div>
    <!-- Enviar -->
    <div class="field" style="padding-top: 1rem">
        <input type="submit" value="Actualizar" class="button is-primary">
    </div>
</form>
{% endblock %}
